
  .fixed_headers {
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  .fixed_headers thead tr {
    display: block;
    position: relative;
  }
  .fixed_headers tbody {
    display: block;
    overflow: auto;
    height: 300px;
  }

  .fixed_headers tbody tr:nth-child(even) {
    background-color: #EEE;
  }
  
  /* .fixed_headers tfoot { */
    .table-header-rotated tfoot {
    display: inline-block;
    overflow: auto;
    position: relative;
  }

  .tablefoot{
    font-weight: bold;
    text-align: right;
  }

  .table-header-rotated td{
    /* width: 100px; */
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
  }

  .table-header-rotated td.itemtd{
    text-align:left;
  }

  .table-header-horiz tbody > tr{
    width:700px;
    vertical-align:center;
}

.table-header-horiz .itemtd{
    width:100px;
    /* min-width: 95px;
    max-width: 95px; */
    vertical-align: bottom;
    text-align: left;
  }
  .table-header-horiz .pricetd{
    width:100px;
    /* min-width: 55px;
    max-width: 55px; */
  }
  .table-header-horiz .qntytd{
    width:100px;
    /* min-width: 30px;
    max-width: 30px; */
  }
  .table-header-horiz .subtottd{
    width:100px;
    /* min-width: 60px;
    max-width: 60px; */
   }


  .table-header-rotated .itemtd{
    width:145px;
    min-width: 145px;
    max-width: 145px;
  }
  .table-header-rotated .pricetd{
    width:50px;
    min-width: 50px;
    max-width: 50px;
  }
  .table-header-rotated .qntytd{
    width:25px;
    min-width: 25px;
    max-width: 25px;
  }
  .table-header-rotated .subtottd{
    width:60px;
    min-width: 60px;
    max-width: 60px;
  }

  .table-header-rotated th.rotate-45{
    height: 60px;
    position: relative;
    vertical-align: bottom;
    
    padding: 0;
    font-size: 14px;
    line-height: 0.8;
  }

  .table-header-horiz thead > tr{
      width:700px;
      vertical-align:bottom;
  }

  .table-header-horiz .itemth{
    width:100px;
    /* min-width: 95px;
    max-width: 95px; */
    vertical-align: bottom;
    text-align: left;
  }
  .table-header-horiz .priceth{
    width:100px;
    /* min-width: 55px;
    max-width: 55px; */
  }
  .table-header-horiz .qntyth{
    width:100px;
 
    /* min-width: 30px;
    max-width: 30px; */
  }
  .table-header-horiz .subtotth{
    width:100px;
    /* min-width: 60px;
    max-width: 60px; */
   }












  .table-header-rotated .itemth{
    width:95px;
    min-width: 95px;
    max-width: 95px;
    vertical-align: bottom;
    text-align: left;
  }
  .table-header-rotated .priceth{
    width:55px;
    min-width: 55px;
    max-width: 55px;
  }
  .table-header-rotated .qntyth{
    width:30px;
    min-width: 30px;
    max-width: 30px;
  }
  .table-header-rotated .subtotth{
    width:60px;
    min-width: 60px;
    max-width: 60px;
   }












  
  .table-header-rotated th.rotate-45 > div{
    position: relative;
    top: 0px;
    left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
    height: 100%;
    -ms-transform:skew(-45deg,0deg);
    -moz-transform:skew(-45deg,0deg);
    -webkit-transform:skew(-45deg,0deg);
    -o-transform:skew(-45deg,0deg);
    transform:skew(-45deg,0deg);
    overflow: hidden;
    /* border-style: dotted; */
    border-left: 1px solid red;
    border-right: 1px solid orange;
    border-top: 1px solid blue;
  }
  
  .table-header-rotated th.rotate-45 span {
    -ms-transform:skew(45deg,0deg) rotate(315deg);
    -moz-transform:skew(45deg,0deg) rotate(315deg);
    -webkit-transform:skew(45deg,0deg) rotate(315deg);
    -o-transform:skew(45deg,0deg) rotate(315deg);
    transform:skew(45deg,0deg) rotate(315deg);
    position: absolute;
    bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
    left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
    display: inline-block;
    /* width: 100%; */
    width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
    text-align: left;
    white-space: nowrap; /*whether to display in one line or not*/
  }



 